<!doctype html>
<html>
<head>
    <title>QR Code Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <form method="post" action="{{ url_for('generate_qr') }}" enctype="multipart/form-data">
        <h1>Enter Your Details</h1>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="contact">Emergency Contact Number:</label>
        <input type="text" id="contact" name="contact" required>
        <br>
        <label for="document">Upload Document:</label>
        <input type="file" id="document" name="document" required>
        <br>
        <button type="submit">Generate QR Code</button>
    </form>
</body>
    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.13.0/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.13.0/firebase-analytics.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries
      
        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
          apiKey: "AIzaSyAon6af0nPHEYJUi4kWq7I5qYozMpSzE6E",
          authDomain: "emergency-contact-78ea5.firebaseapp.com",
          projectId: "emergency-contact-78ea5",
          storageBucket: "emergency-contact-78ea5.appspot.com",
          messagingSenderId: "534986134097",
          appId: "1:534986134097:web:fbd319ed692eb717799e70",
          measurementId: "G-W66H6XZ948"
        };
      
        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);
      </script>
</html>
